.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #00a7bd;
  background-image: url('/images/header-background.png');
  color: #FFF;
}

.site-header img {
  display: block;
  max-height: 180px;
}

.site-header h2 {
  font-size: 1.5em;
  font-weight: 300;
}

.site-header h2 span {
  font-weight: 700;
}